@import url('https://fonts.googleapis.com/css?family=Courgette');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./img/love.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.lang {
    display: none;
}

.lang.visible {
    display: inline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    font-family: 'Courgette', cursive;
}